.relative-box { 
position: relative; 
top: 20px; 
left: 30px; 
background-color: lightblue; 
padding: 20px; 
} 
.absolute-box { 
position: absolute; 
top: 50px; 
left: 100px; 
background-color: lightcoral; 
padding: 20px; 
} 